
.list {
    display: flex; 
    justify-content: center; 
}
.list>a { 
    padding: 20px;
    padding-left: 80px;
    text-decoration: none;
    color: rgb(215, 215, 215);
    font-size: 1.5em;
}
form {
    text-align: center;
    width: auto;
    float: right;
    padding-left: 80px;
    text-decoration: none;
    color: rgb(215, 215, 215);
    font-size: 1.5em;
  }
  input {
    width: 150px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #000000;
    background: #340700;
    outline: none;
    position: relative;
    transition: .3s linear;
  }
  input:focus {
    width: 200px;
  }
  .sea {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    top: -2px;
    right: 0;
    cursor: pointer;
  }
  .sea>img{
    width: 100%;
  }
.list>div{
    padding: 20px;
}
.navbar{
    margin-top: 20px;
}
.list>div>a { 
    padding: 20px;
    padding-left: 80px;
    text-decoration: none;
    color: rgb(215, 215, 215);
    font-size: 1.5em;
}
.drop a{
    text-decoration: none;
    color: rgb(215, 215, 215);
}
.menu{
    margin-left: 80px;
    position: absolute;
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    font-size: 2em;
}
.list div:hover > .menu {
    display: block;
}
.list a:hover {
    color: rgb(208, 84, 12)
}
@media (max-width: 1000px){
    .navbar {
        justify-content: space-between;
    }
    .list {
        display: none;
    }
    .list a {
        padding-left: 20px;
    }
    .drop:hover .list {
    display: block;
    position: absolute;
    right: 1px;

    background-color: rgba(255, 152, 61, 0.827);
}
}