
.list {
    display: flex; 
    justify-content: center; 
    font-weight: 600;
}
.list>a { 
    padding: 20px;
    padding-left: 80px;
    text-decoration: none;
    color: rgb(215, 215, 215);
    font-size: 1.5em;
    transition: 350ms ease;
}
.list>div{
    padding: 20px;
    transition: 350ms ease;
}
.navbar{
    margin-top: 20px;
}
.list>div>a { 
    padding: 20px;
    padding-left: 80px;
    text-decoration: none;
    color: rgb(215, 215, 215);
    font-size: 1.5em;
    transition: 350ms ease;
}
.drop a{
    text-decoration: none;
    color: rgb(215, 215, 215);
    transition: 350ms ease;
}
.menu{
    margin-left: 80px;
    position: absolute;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.375);
    font-size: 1.6em;
    transition: 300ms ease;
    z-index: 5;
    border-radius: 8px;
    margin-top: 10px;
    margin-top: -2000px;
}
.list div:hover > .menu {
    animation: drop 300ms ease-out forwards;
}
@keyframes drop {
    from {
        margin-top: -20px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 1;
    }}   
.list a:hover {
    color: rgb(208, 84, 12)
}
@media (max-width: 1000px){
    .navbar {
        justify-content: space-between;
    }
    .list {
        display: none;
    }
    .list a {
        padding-left: 20px;
    }
    .drop:hover .list {
    display: block;
    position: absolute;
    right: 1px;

    background-color: rgba(255, 152, 61, 0.827);
}
}