* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12);
    background-color: rgba(0, 0, 0, 0.822);
    border-width: 1vh;
    border-style: solid;
    border-radius: 30px;
    border-top: 0;
    border-bottom: 0;
}

.creature {
    margin: 2em;    
    background-color: rgb(135, 0, 0);
    border-radius: 10%;
    border-width: 3px;
    border-style: solid;
    background-color: rgb(36, 17, 17);
    transition: 200ms;
}

.creature>a>img {
    border-radius: 10%;
    margin: 0px;
    width: 95%;
    margin-left: 1.7%;
    border-width: 3px;
    border-style: solid;
    background-color: brown;
    border-color: rgb(73, 16, 0);
    
}
.level{
    font-size: 3vh;
    text-align: left;
    color: rgb(88, 12, 0);
    padding-left: 2vh;
    padding-bottom: 1vh;
}
.atack{
    font-size: 3vh;
    text-align: left;
    color: rgb(88, 12, 0);
    padding-left: 2vh;
    padding-bottom: 1vh;
    display: none;
}

.defense{
    font-size: 3vh;
    text-align: left;
    color: rgb(88, 12, 0);
    padding-left: 2vh;
    padding-bottom: 1vh;
    display: none;
}
.castle { 
font-size: 3vh;
text-align: left;
color: rgb(88, 12, 0);
padding-left: 2vh;
padding-bottom: 1vh;
}
.name {
    text-align: center;
    font-size: 2em;
    color: rgb(172, 37, 0);
}
.creature:hover > .atack{display: initial;}
.creature:hover > .defense{display: initial;}
.creature:hover{
    height: 120%;
    margin: 0px;
    z-index: 1;
    box-shadow: 0px 5px 5px 8px rgb(116, 0, 0);
    border-radius: 10%; 
}

@media (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5);
    }
}
@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9);
    }
    .creature {
        margin-inline: 0;
    }
}