* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12);
    background-color: rgba(0, 0, 0, 0.822);
    border-width: 1vh;
    border-style: solid;
    border-radius: 30px;
    border-top: 0;
    border-bottom: 0;
}

.creature {
    width: 90%;
    height: 85%;
    margin-top: 20px;
    background-color: rgb(135, 0, 0);
    border-radius: 10%;
    border-width: 3px;
    border-style: solid;
    background-color: rgb(37, 9, 9);
    transition: 400ms ease;
}

.creature>a>img {
    border-radius: 10%;
    margin: 0px;
    width: 95%;
    height: 280px;
    margin-left: 1.7%;
    border-width: 3px;
    border-style: solid;
    background-color: brown;
    border-color: rgb(73, 16, 0);

}

.description {
    font-size: 0px;
    position: absolute;
    transition: 240ms ease;
    list-style: none;
    margin-top: -2px;

}

.description li {
    display: flex;
    align-items: center;
    padding-bottom: 1vh;
    text-align: left;
    color: rgb(176, 176, 176);
}

/* .level{ 
    font-size: 3vh;
    text-align: left;
    color: rgb(88, 12, 0);
    padding-left: 2vh;
    padding-bottom: 1vh;
    display: initial !important;
} */
.name {
    text-align: center;
    font-size: 2em;
    color: rgb(172, 37, 0);
}

.creature:hover>.description {
    font-size: 30px;
}

.creature:hover .stat {
    width: 30px;
    height: 30px;
}

.creature:hover {
    margin: 10px;
    margin: 0px;
    z-index: 1;
    box-shadow: 0px 5px 5px 9px rgb(116, 0, 0);
    background-color: rgb(17, 0, 0);
    border-radius: 10%;
    height: 122%;
}

#lvle,
#prc {
    font-size: 30px;
}

#lvlim {
    width: 30px;
    height: 25px;
}

#prcim {
    width: 30px;
    height: 30px;
}

.stat {
    transition: 240ms ease;
    width: 0%;
    height: 0;
    vertical-align: sub;
}

@media (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5);
    }
}

@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9);
    }

    .creature {
        margin-inline: 0;
    }
}