.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: rgba(85, 0, 0, 0.902);
    background-image: url('../Images/necr.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: rgba(0, 0, 0, 0.796);
}
.creature {
    margin: 2em;    
    background-color: rgb(80, 0, 0);
    border-radius: 10%;
    border-width: 3px;
    border-style: solid;
    background-color: rgba(0, 54, 39, 0.86);
}
.list a:hover {
    color: rgb(0, 117, 4)
}
.name {
    color: rgb(0, 111, 24);
}
.castle{
    color: rgb(20, 136, 0);
}
input{
    background: #00341e;
}
.sort-lvl{
    margin-left: 30px;
    width: 25vh;
    background-color: rgb(0, 60, 39);
}
#sort-asc{
background-color: rgb(0, 60, 39);
}
#sort-asc:hover{
background-color: rgb(0, 72, 47);
}
#sort-dasc{
background-color: rgb(0, 60, 39);
}
#sort-dasc:hover{
background-color: rgb(0, 72, 47);}
.level {
    color: rgb(20, 136, 0);
}
.creature>a>img {
    border-color: rgb(0, 67, 32);
    }
    .creature:hover {
    
    
        height: 110%;
        z-index: 100;
        box-shadow: 0px 5px 5px 8px rgb(0, 120, 70);
    
    }