.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: rgba(85, 0, 0, 0.902);
    background-image: url('../Images/necr.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.822);
}

.creature {
    background-color: rgb(0, 77, 59);
}

.creature>a>img {
    border-color: rgb(0, 106, 69);
    
}
.description{
    font-size: 0px;
    position: absolute;
    transition: 240ms ease;
    list-style: none;
    margin-top: -2px; 

}

.description li{
    color: rgb(176, 176, 176);
}
.name {
    text-align: center;
    font-size: 2em;
    color: rgb(0, 165, 74);
}
.creature:hover{
    background-color: rgb(2, 48, 34);
    border-radius: 10%; 
    height: 122%;
    box-shadow: 0px 5px 5px 9px rgb(0, 100, 73);
}
@media (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5);
    }
}
@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9);
    }
    .creature {
        margin-inline: 0;
    }
}