.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: rgba(85, 0, 0, 0.902);
    background-image: url('../Images/tower_back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.822);
}
.list>a{
    color: rgb(229, 229, 229);
}
.list>div>a{
    color: rgb(229, 229, 229);
}
.drop a{
    color: rgb(229, 229, 229);
}
.list a:hover {
    color: rgb(165, 250, 239);
}
.creature {
    background-color: rgb(79, 149, 136);
}

.creature>a>img {
    border-color: rgb(6, 112, 119);
    
}
.description{
    font-size: 0px;
    position: absolute;
    transition: 240ms ease;
    list-style: none;
    margin-top: -2px; 

}
.description li{
    color: rgb(242, 242, 242);
}
.name {
    text-align: center;
    font-size: 2em;
    color: rgb(0, 33, 86);
}
.creature:hover{
    background-color: rgb(15, 133, 151);
    border-radius: 10%; 
    height: 124%;
    width: 96%;
    box-shadow: 0px 5px 5px 9px rgb(88, 199, 197);
    margin-top: -30px;
    margin-left: -5px;
}
@media (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5);
    }
}
@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9);
    }
    .creature {
        margin-inline: 0;
    }
}